<div class="container mt-5 mb-5">
    <img src="" width="100%">
    <h1 class="text-center">About</h1>    
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi maiores nihil possimus nemo molestias eius debitis 
        exercitationem harum! Ullam beatae esse reiciendis unde nihil, assumenda sit minus facere fugiat cum?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi maiores nihil possimus nemo molestias eius debitis 
        exercitationem harum! Ullam beatae esse reiciendis unde nihil, assumenda sit minus facere fugiat cum?
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi maiores nihil possimus nemo molestias eius debitis 
        exercitationem harum! Ullam beatae esse reiciendis unde nihil, assumenda sit minus facere fugiat cum?
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi maiores nihil possimus nemo molestias eius debitis 
        exercitationem harum! Ullam beatae esse reiciendis unde nihil, assumenda sit minus facere fugiat cum?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi maiores nihil possimus nemo molestias eius debitis 
        exercitationem harum! Ullam beatae esse reiciendis unde nihil, assumenda sit minus facere fugiat cum?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi maiores nihil possimus nemo molestias eius debitis 
        exercitationem harum! Ullam beatae esse reiciendis unde nihil, assumenda sit minus facere fugiat cum?
        <br/>
    </p>

</div>